<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script defer src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://kit.fontawesome.com/131d9c1f34.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./assets/styles/style.css">
    <link rel="stylesheet" href="./assets/styles/index.css">
    <link rel="stylesheet" href="./assets/styles/carrito.css">
    <script defer src="./assets/scripts/carrito.js"></script>
    <title>Shop | Carrito</title>
</head>
<body id="app">
    <div class="contenedor-overflow">
        <header>
            <nav class="navbar navbar-expand-md navbar-dark">
                <div class="container navegacion">
                    <a class="navbar-brand" href="./index.html">ARTHUB</a>
                    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="collapsibleNavId">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="./cuenta.html">Mi cuenta</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./productos.html">Productos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./artistas.html">Artistas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Carrito</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="">Logout</a>
                            </li>                       
                        </ul>
                    </div>
                </div>
            </nav>         
        </header>
        <main>
            <div class="position-absolute d-flex justify-content-center align-items-center" :class="{ 'cartelPago' : pagoExitoso }">
                <p class="mb-0">El pago se realizó con éxito</p>
            </div>
            <div class="contenedor-modalCarrito ocultar-modal" id="modalCarrito">
                <div class="contenedor-modal" id="compraDatos">
                    <div class="boton-cerrar" >
                        <p @click="cerrarModal()" class="equis-boton">X</p>
                    </div>
                    <div class="contenedor-modal-tarjeta-datosPersonales">
                        <div class="contenedor-datos">
                            <div class="titulo-editardatos-contenedor">
                                <p class="titulo-modal">MIS DATOS</p>
                                <img v-cloak class="icono-editar" src="./assets/images/pen.png" alt="Editar" @click="activarFormulario()" id="iconoEditar">
                            </div>
                            <div class="contenedor-datos-personales">
                                <div>
                                    <p>Nombre</p>
                                    <input type="text" v-model="nombre" readonly>
                                    <p>Direccion</p>
                                    <input type="text" v-model="direccion" readonly>
                                    <p>Pais</p>
                                    <input type="text" v-model="pais" readonly>
                                </div>
                                <div>
                                    <p>Apellido</p>
                                    <input type="text" v-model="nombre" readonly>
                                    <p>Codigo Postal</p>
                                    <input type="text" v-model="codigoPostal" readonly>
                                    <p>Ciudad</p>
                                    <input type="text" v-model="ciudad" readonly>
                                </div>
                            </div>
                            <p>Descripcion direccion</p>
                            <input type="text" class="input-extra" v-model="descripcionExtra" readonly>
                            <div class="boton-contenedor input-extra ocultar-modal" id="actualizarDatosBoton" @click="actualizar()">
                                <p>Actualizar datos</p>
                            </div>
                        </div>
                        <div class="datos-tarjeta-contenedor">
                            <div class="titulo-editardatos-contenedor">
                                <p class="titulo-modal">DATOS DE PAGO</p>
                            </div>
                            <div class="tarjeta-datos">
                                <p>Numero de tarjeta</p>
                                <input type="text" v-model="numeroTarjeta">
                                <p>Codigo de seguridad</p>
                                <input type="number" v-model="cvvTarjeta">
                                <p>Nombre tarjeta</p>
                                <input type="text" v-model="nombreTarjeta">
                                <p>Fecha de expiracion</p>
                                <input type="text" v-model="expiracionTarjeta" >
                            </div>
                            <div @click="pagar" class="boton-contenedor input-extra">
                                <p>Pagar</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <img class="carrito-blanca" src="./assets/images/6.png">
            <img class="carrito-color" src="./assets/images/7.png">
            <div class="contenedor-carrito">
                <h2 class="titulo-seccion">Carrito</h2>
                <div class="contenedor-compra">
                    <div class="contenedor-productos">
                        <div class="producto">
                            <div class="producto-wrap">
                                <div class="producto-imagen">
                                    <img class="producto-imagen_plantilla" src="./assets/images/remera_roja.png">
                                    <img class="producto-imagen_estampa" src="./assets/images/305033956_1263199574444982_6802776079643692029_n_494110.png">
                                </div>
                                <div class="producto-detalles">
                                    <p class="producto-detalles_titulo">Remera hombre ilustracion</p>
                                    <div>
                                        <p>TALLA: <span>L</span></p>
                                        <p>CANTIDAD: <span>3</span></p>
                                        <p>PRECIO C/U: <span>$3000</span></p>
                                        <p>DESCRIPCION: <span>Remera roja sublimada</span></p>
                                    </div>
                                </div>
                            </div>     
                            <div class="producto-wrap">
                                <div class="producto-cantidad">
                                    <div class="agregar-quitar-productos">
                                        <button class="cambiar-cantidad">-</button>
                                        <p class="mostrar-cantidad">3</p>
                                        <button class="cambiar-cantidad">+</button>
                                    </div>
                                    <p>10 disponibles</p>
                                </div>
                                <div class="producto-eliminar">
                                    <i class="fa-regular fa-trash-can fa-2xl"></i>
                                    <p>Eliminar</p>
                                </div>
                                <div class="producto-monto">
                                    <p>$9000</p>
                                </div>
                            </div>
                        </div>
                        <div class="producto">
                            <div class="producto-wrap">
                                <div class="producto-imagen">
                                    <img class="producto-imagen_plantilla" src="./assets/images/remera_amarilla.png">
                                    <img class="producto-imagen_estampa" src="./assets/images/119031130_180659546916115_5991594656918939829_n_493257.png">
                                </div>
                                <div class="producto-detalles">
                                    <p class="producto-detalles_titulo">Remera hombre ilustracion</p>
                                    <div>
                                        <p>TALLA: <span>L</span></p>
                                        <p>CANTIDAD: <span>3</span></p>
                                        <p>PRECIO C/U: <span>$3000</span></p>
                                        <p>DESCRIPCION: <span>Remera roja sublimada</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="producto-wrap">
                                <div class="producto-cantidad">
                                    <div class="agregar-quitar-productos">
                                        <button class="cambiar-cantidad">-</button>
                                        <p class="mostrar-cantidad">3</p>
                                        <button class="cambiar-cantidad">+</button>
                                    </div>
                                    <p>10 disponibles</p>
                                </div>
                                <div class="producto-eliminar">
                                    <i class="fa-regular fa-trash-can fa-2xl"></i>
                                    <p>Eliminar</p>
                                </div>
                                <div class="producto-monto">
                                    <p>$9000</p>
                                </div>
                            </div>
                        </div>
                        <div class="producto">
                            <div class="producto-wrap">
                                <div class="producto-imagen">
                                    <img class="producto-imagen_plantilla" src="./assets/images/remera_azul.png">
                                    <img class="producto-imagen_estampa" src="./assets/images/call-to-action.png">
                                </div>
                                <div class="producto-detalles">
                                    <p class="producto-detalles_titulo">Remera hombre ilustracion</p>
                                    <div>
                                        <p>TALLA: <span>L</span></p>
                                        <p>CANTIDAD: <span>3</span></p>
                                        <p>PRECIO C/U: <span>$3000</span></p>
                                        <p>DESCRIPCION: <span>Remera roja sublimada</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="producto-wrap">
                                <div class="producto-cantidad">
                                    <div class="agregar-quitar-productos">
                                        <button class="cambiar-cantidad">-</button>
                                        <p class="mostrar-cantidad">3</p>
                                        <button class="cambiar-cantidad">+</button>
                                    </div>
                                    <p>10 disponibles</p>
                                </div>
                                <div class="producto-eliminar">
                                    <i class="fa-regular fa-trash-can fa-2xl"></i>
                                    <p>Eliminar</p>
                                </div>
                                <div class="producto-monto">
                                    <p>$9000</p>
                                </div>
                            </div>
                        </div>
                        <div class="producto">
                            <div class="producto-wrap">
                                <div class="producto-imagen">
                                    <img class="producto-imagen_plantilla" src="./assets/images/remera_blanca.png">
                                    <img class="producto-imagen_estampa" src="./assets/images/269715848_331511375217708_928283997295606897_n_493424.png">
                                </div>
                                <div class="producto-detalles">
                                    <p class="producto-detalles_titulo">Remera hombre ilustracion</p>
                                    <div>
                                        <p>TALLA: <span>L</span></p>
                                        <p>CANTIDAD: <span>3</span></p>
                                        <p>PRECIO C/U: <span>$3000</span></p>
                                        <p>DESCRIPCION: <span>Remera roja sublimada</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="producto-wrap">
                                <div class="producto-cantidad">
                                    <div class="agregar-quitar-productos">
                                        <button class="cambiar-cantidad">-</button>
                                        <p class="mostrar-cantidad">3</p>
                                        <button class="cambiar-cantidad">+</button>
                                    </div>
                                    <p>10 disponibles</p>
                                </div>
                                <div class="producto-eliminar">
                                    <i class="fa-regular fa-trash-can fa-2xl"></i>
                                    <p>Eliminar</p>
                                </div>
                                <div class="producto-monto">
                                    <p>$9000</p>
                                </div>
                            </div>
                        </div>
                        <div class="producto">
                            <div class="producto-wrap">
                                <div class="producto-imagen">
                                    <img class="producto-imagen_plantilla" src="./assets/images/remera_verde.png">
                                    <img class="producto-imagen_estampa" src="./assets/images/109086572_165094608472609_1619852278073271916_n_493205.png">
                                </div>
                                <div class="producto-detalles">
                                    <p class="producto-detalles_titulo">Remera hombre ilustracion</p>
                                    <div>
                                        <p>TALLA: <span>L</span></p>
                                        <p>CANTIDAD: <span>3</span></p>
                                        <p>PRECIO C/U: <span>$3000</span></p>
                                        <p>DESCRIPCION: <span>Remera roja sublimada</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="producto-wrap">
                                <div class="producto-cantidad">
                                    <div class="agregar-quitar-productos">
                                        <button class="cambiar-cantidad">-</button>
                                        <p class="mostrar-cantidad">3</p>
                                        <button class="cambiar-cantidad">+</button>
                                    </div>
                                    <p>10 disponibles</p>
                                </div>
                                <div class="producto-eliminar">
                                    <i class="fa-regular fa-trash-can fa-2xl"></i>
                                    <p>Eliminar</p>
                                </div>
                                <div class="producto-monto">
                                    <p>$9000</p>
                                </div>
                            </div>
                        </div>
                        <div class="producto">
                            <div class="producto-wrap">
                                <div class="producto-imagen">
                                    <img class="producto-imagen_plantilla" src="./assets/images/remera_roja.png">
                                    <img class="producto-imagen_estampa" src="./assets/images/117811586_171719334476803_1337973533433460834_n_493253.png">
                                </div>
                                <div class="producto-detalles">
                                    <p class="producto-detalles_titulo">Remera hombre ilustracion</p>
                                    <div>
                                        <p>TALLA: <span>L</span></p>
                                        <p>CANTIDAD: <span>3</span></p>
                                        <p>PRECIO C/U: <span>$3000</span></p>
                                        <p>DESCRIPCION: <span>Remera roja sublimada</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="producto-wrap">
                                <div class="producto-cantidad">
                                    <div class="agregar-quitar-productos">
                                        <button class="cambiar-cantidad">-</button>
                                        <p class="mostrar-cantidad">3</p>
                                        <button class="cambiar-cantidad">+</button>
                                    </div>
                                    <p>10 disponibles</p>
                                </div>
                                <div class="producto-eliminar">
                                    <i class="fa-regular fa-trash-can fa-2xl"></i>
                                    <p>Eliminar</p>
                                </div>
                                <div class="producto-monto">
                                    <p>$9000</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="total-compra">
                        <p>Total: <span>$25000</span></p>
                    </div>
                </div>
                <button class="boton-checkout" data-bs-toggle="modal" data-bs-target="#checkout" @click="cerrarModal()">Checkout</button>
            </div>
            
        </main>
        <footer>
            <p class="titulo-footer">Proyecto final MindHub - Cohort 41</p>
            <p class="texto-footer">Oscar Schwerdt - Joel Trinidad - Cameron Velasquez - Alejo Lozano - Emilia Sosa</p>
        </footer>
    </div>
</body>
</html>