<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script defer src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://kit.fontawesome.com/131d9c1f34.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./assets/styles/style.css">
    <link rel="stylesheet" href="./assets/styles/index.css">
    <script defer src="./assets/scripts/main.js"></script>
    <title>Shop | Contacto</title>
</head>
<body id="app" style="background-color: black;">
    <div class="bg-animation">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
        <div id="stars4"></div>
    </div>
    <main>
        <div class="contenedor-inicioSesionRegistro ocultar-modal" id="inicioSesionRegistro">
            <div class="contenedor-inicioSesion ocultar-modal texto-mensaje" id="mensaje"></div>
            <div class="contenedor-inicioSesion" id="inicioSesion">
                <div class="boton-cerrar" >
                    <p @click="cerrarModal()" class="equis-boton">X</p>
                </div>
                <p class="titulo-registroInicio">Inicia sesion</p>
                <form>
                    <label>Usuario</label>
                    <input type="text" v-model="emailONick">
                    <label>Contraseña</label>
                    <input type="password" v-model="contraseña">
                </form>
                <p class="error-texto" v-cloak>{{error}}</p>
                <div class="boton-contenedor" @click="logIn()">
                    <p>Iniciar sesion</p>
                </div>
                <div class="contenedor-texto-extra-inicioSesion">
                    <p>No tienes cuenta?</p>
                    <p @click="mostrarRegistro()" class="texto-extra-color">Registrate</p>
                </div>
                
            </div>
            <div class="contenedor-Registro ocultar-modal" id="registro">
                <div class="boton-cerrar" >
                    <p></p>
                    <p @click="cerrarModal()" class="equis-boton">X</p>
                </div>
                <p class="titulo-registroInicio">Registrate</p>
                <form class="contenedor-registro-formulario">
                    <div>
                        <label>Nombre</label>
                        <input type="text" v-model="nombre">
                        <label>Nick</label>
                        <input type="text" v-model="nick">
                        <label>Ciudad</label>
                        <input type="text" v-model="ciudad">
                        <label>Pais</label>
                        <input type="text" v-model="pais">
                        <label>Email</label>
                        <input type="text" v-model="email">
                    </div>
                    <div>
                        <label>Apellido</label>
                        <input type="text" v-model="apellido">
                        <label>Direccion</label>
                        <input type="text" v-model="direccion">
                        <label>Codigo Postal</label>
                        <input type="text" v-model="codigoPostal">
                        <label>Descripcion direccion</label>
                        <input type="text" v-model="descripcionExtra">
                        <label>Contraseña</label>
                        <input type="password" v-model="contraseñaRegistro">
                    </div>
                </form>
                <p class="error-texto" v-cloak>{{error}}</p>
                <div class="boton-contenedor" @click="registro()">
                    <p>Registrate</p>
                </div>
                <div class="contenedor-texto-extra-inicioSesion">
                    <p @click="mostrarRegistro()" class="texto-extra-color">Inicia sesion</p>
                </div>
            </div>
        </div>
        <div class="tablet">
            <div class="tablet-brand">
                <span>ARTHUB</span>
                <div><span></span><span></span><span></span></div>
            </div>
            <nav class="pc-nav">
                <button class="tablet-button" @click="openMenu()">Menu</button>
                <button class="tablet-button">Logout</button>
            </nav>
            <nav class="navbar mobile-nav">
                <button class="mobile-tablet-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                        <!-- <li class="nav-item">
                            <a class="nav-link active" href="#" aria-current="page">Home </a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link" href="./cuenta.html">Mi cuenta</a>
                            <a class="nav-link" href="./productos.html">Productos</a>
                            <a class="nav-link" href="./artistas.html">Artistas</a>
                            <a class="nav-link" href="./carrito.html">Carrito</a>
                            <a class="nav-link active" href=""aria-current="page">Contacto</a>
                        </li>
                    </ul>
                </div>
            </nav>
            
            <div class="main-content">
                <div class="menu-block">
                    <div class="menu-container">
                        <div class="menu-backround"></div>
                        <nav class="menu-content">
                            <ul>
                                <li class="menu-list-item"><a href="./cuenta.html"><i class="fa-solid fa-circle-user fa-2xl menu-icon"></i><span>Mi cuenta</span></a></li>
                                <li class="menu-list-item"><a href="./productos.html"><i class="fa-solid fa-store fa-2xl menu-icon"></i><span>Productos</span></a></li>
                                <li class="menu-list-item"><a href="./artistas.html"><i class="fa-solid fa-palette fa-2xl menu-icon"></i><span>Artistas</span></a></li>
                                <li class="menu-list-item"><a href="./carrito.html"><i class="fa-solid fa-cart-shopping fa-2xl menu-icon"></i><span>Carrito</span></a></li>
                                <li class="menu-list-item"><a href=""><i class="fa-solid fa-envelope fa-2xl menu-icon"></i><span>Contacto</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                
            </div>
            <footer>
                <p class="titulo-footer">Proyecto final MindHub - Cohort 41</p>
                <p class="texto-footer">Oscar Schwerdt - Joel Trinidad - Cameron Velasquez - Alejo Lozano - Emilia Sosa</p>
            </footer>
        </div>
    </main>
</body>
</html>