<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="./assets/styles/editor-producto.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script defer src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://kit.fontawesome.com/131d9c1f34.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./assets/styles/style.css">
    <link rel="stylesheet" href="./assets/styles/index.css">
    <link rel="stylesheet" href="./assets/styles/carrito.css">
    <link rel="stylesheet" href="./assets/styles/editor.css">
    <link rel="shortcut icon" href="./assets/images/logonegro.png" type="image/x-icon">
    <script defer src="./assets/scripts/editor.js"></script>
    <title>Shop | Editor</title>
</head>
<body id="app" class="">
    <div class="contenedor-overflow">
        <header>
            <nav class="navbar navbar-expand-md navbar-dark">
                <div class="container navegacion">
                    <img src="./assets/images/logo.png" alt="Logo" class="logo">
                    <a class="navbar-brand" href="./index.html">ARTHUB</a>
                    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="collapsibleNavId">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="./cuenta.html">Mi cuenta</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Productos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./artistas.html">Artistas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./carrito.html">Carrito</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="">Logout</a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </nav> 
        </header>
        <main class="main__editor">
            <!-- {{listaProductosGenericos}} -->
            <div class="contenedor-editor">
                <img class="editor-blanca" src="./assets/images/editor-blanca.png">
                <img class="editor-color" src="./assets/images/editor-color.png">
                <h1 class="titulo-seccion">Customizalo</h1>
                <p class="text-black d-none d-md-block mb-4 texto-guia">Haz click en los productos para seleccionarlos, también puedes seleccionar su color y medida</p>
        
                <div class="d-md-flex justify-content-lg-center contenedor-principal_editor">
                    
                    <div class="d-md-flex gap-md-2 contenedor1_editor">
                        <div class="carrusel__editor-producto contenedor-info-carrusel_editor d-flex flex-md-column justify-content-evenly position-relative">
                            <div id="carrousel" class="">
                                <img :src="currentImage" class="vista-previa-arte-editor">
                                <div class="position-absolute d-flex justify-content-around contenedor-iconos">
                                    <i @click="prevImage" class="fa-solid fa-caret-left fs-1 text-black pointer"></i>
                                    <i @click="nextImage" class="fa-solid fa-caret-right fs-1 text-black pointer"></i>
                                </div>
                            </div>
                            <div class="info-ilustrador_editor">
                                <h4 class="text-black mb-0 mt-1 text-md-center titulo-info-ilustrador">Título ilustracion</h4>
                                <div class="d-flex flex-column mt-2">
                                    <p class="text-black mb-0 info-texto__editor">Ilustración por:</p>
                                    <p class="text-black mb-0 info-texto__editor">Producto:</p>
                                    <p class="text-black mb-0 info-texto__editor">Talle:</p>
                                    <p class="text-black mb-0 info-texto__editor">Color:</p>
                                    <p class="text-black mb-0 info-texto__editor">Stock:</p>
                                </div>
                            </div>
                        </div>
                        <div  class="contenedor-productos_editor ">
                            <p class="text-black d-md-none texto-guia">Haz click en los productos para seleccionarlos, también puedes seleccionar su color y medida</p>
                            <div class="contenedor-productos_editor-selector ">
                                <h6 class="text-black mt-1 mt-md-0">PRODUCTOS</h6>
                                <div class="d-flex  poductos-iconos align-items-center justify-content-around">
                                    <span class="pointer" @click="seleccion('vista-previa__editor-producto-llavero', 'LLAVERO')" :class="{ 'productoSeleccionado' : productoSeleccionado == 'LLAVERO' }"><img src="./assets/images/llavero.png" alt=""></span>
                                    <span class="pointer" @click="seleccion('vista-previa__editor-producto-cuaderno', 'LIBRETA')" :class="{ 'productoSeleccionado' : productoSeleccionado == 'LIBRETA' }"><img src="./assets/images/cuaderno.png" alt=""></span>
                                    <span class="pointer" @click="seleccion('vista-previa__editor-producto', 'REMERA')" :class="{ 'productoSeleccionado' : productoSeleccionado == 'REMERA' }"><img src="./assets/images/remera.png" alt=""></span>
                                    <span class="pointer" @click="seleccion('vista-previa__editor-producto-retrato', 'PRINT')" :class="{ 'productoSeleccionado' : productoSeleccionado == 'PRINT' }"><img src="./assets/images/retrato.png" alt=""></span>
                                    <span class="pointer" @click="seleccion('vista-previa__editor-producto-taza', 'TAZA')" :class="{ 'productoSeleccionado' : productoSeleccionado == 'TAZA' }"><img src="./assets/images/taza.png" alt=""></span>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="contenedor2_editor position-relative" >
        
                        <div class="d-flex mt-md-0 ">
                            <div class="d-flex justify-content-between vista-talles">
                                <div class="position-relative vista-previa_editor" :class="seleccionado">
                                    <div v-if="seleccionado == 'vista-previa__editor-producto'">
            
                                        <div class="vista-prev-colores-remera" 
                                            :class="
                                            { 'vista-previa__remera-rojo': colorSeleccionado === 'ROJO', 
                                            'vista-previa__remera-azul': colorSeleccionado === 'AZUL',
                                            'vista-previa__remera-verde' : colorSeleccionado === 'VERDE',
                                            'vista-previa__editor-producto' : colorSeleccionado === 'BLANCO',
                                            'vista-previa__remera-rosa' : colorSeleccionado === 'ROSA',
                                            'vista-previa__remera-amarillo' : colorSeleccionado === 'AMARILLO'
                                            } "
                                        >
            
                                        </div>
            
                                    </div>
                                    
                                    <div v-for="image of images" >
                                        <img class="img-template" :src="currentImage" alt="">
                                    </div>
                                </div>
            
                                <div class="contenedor-colores-talles">
                                    <div class="d-flex justify-content-end colores-talles">
                                        <template v-if="productoSeleccionado=='REMERA'">
                                            <div>
                                                <h6>Colores</h6>
                                                <div class="d-flex flex-column align-items-center justify-content-evenly seleccion-colores">
                                                    <span class="rojo colores-editor" @click="cambiarColor('ROJO')" :class="{ 'colorSeleccionado' : colorSeleccionado === 'ROJO' }"></span>
                                                    <span class="azul colores-editor" @click="cambiarColor('AZUL')" :class="{ 'colorSeleccionado' : colorSeleccionado === 'AZUL' }"></span>
                                                    <span class="verde colores-editor" @click="cambiarColor('VERDE')" :class="{ 'colorSeleccionado' : colorSeleccionado === 'VERDE' }"></span>
                                                    <span class="blanco colores-editor" @click="cambiarColor('BLANCO')" :class="{ 'colorSeleccionado' : colorSeleccionado === 'BLANCO' }"></span>
                                                    <span class="rosa colores-editor" @click="cambiarColor('ROSA')" :class="{ 'colorSeleccionado' : colorSeleccionado === 'ROSA' }"></span>
                                                    <span class="amarillo colores-editor" @click="cambiarColor('AMARILLO')" :class="{ 'colorSeleccionado' : colorSeleccionado === 'AMARILLO' }"></span>
                                                </div>
                                            </div>
                                            <div>
                                                <h6>Talles</h6>
                                                <div class="talles_editor d-flex flex-column align-items-center justify-content-evenly">
                                                    <span  @click="talle('XS')" class="text-black d-flex justify-content-center align-items-center pointer talle" :class="{ 'colorSeleccionado' : medida == 'XS' }">XS</span>
                                                    <span  @click="talle('S')" class="text-black d-flex justify-content-center align-items-center pointer talle" :class="{ 'colorSeleccionado' : medida == 'S' }">S</span>
                                                    <span  @click="talle('M')" class="text-black d-flex justify-content-center align-items-center pointer talle" :class="{ 'colorSeleccionado' : medida == 'M' }">M</span>
                                                    <span  @click="talle('L')" class="text-black d-flex justify-content-center align-items-center pointer talle" :class="{ 'colorSeleccionado' : medida == 'L' }">L</span>
                                                    <span  @click="talle('XL')" class="text-black d-flex justify-content-center align-items-center pointer talle" :class="{ 'colorSeleccionado' : medida == 'XL' }">XL</span>
                                                </div>
                                            </div>
                                        </template>
                                        <template v-else-if="productoSeleccionado=='PRINT'">
                                            <div>
                                                <h6>Medidas</h6>
                                                <div class="talles_editor d-flex flex-column align-items-center justify-content-evenly">
                                                    <span  @click="talle('PEQUEÑO')" class="text-black d-flex justify-content-center align-items-center pointer talle" :class="{ 'colorSeleccionado' : medida == 'PEQUEÑO' }">PEQUEÑO</span>
                                                    <span  @click="talle('MEDIANO')" class="text-black d-flex justify-content-center align-items-center pointer talle" :class="{ 'colorSeleccionado' : medida == 'MEDIANO' }">MEDIANO</span>
                                                    <span  @click="talle('GRANDE')" class="text-black d-flex justify-content-center align-items-center pointer talle" :class="{ 'colorSeleccionado' : medida == 'GRANDE' }">GRANDE</span>
                                                </div>
                                            </div>
                                        </template>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contenedo-btn">
                            <template v-if="estaEnCarrito>0">
                                <div class="agregar-quitar-productos">
                                    <template v-if="estaEnCarrito===1">
                                        <button class="btn-minus btn b-rojo cambiar-cantidad" @click="restarAlCarrito()"><i class="fa-solid fa-trash"></i></button>
                                    </template>
                                    <template v-else>
                                        <button class="btn-minus btn b-rojo cambiar-cantidad" @click="restarAlCarrito()"><i class="fa-solid fa-minus"></i></button>
                                    </template>
                                    <span class="cant-carrito"><b>{{productoIlustracionActivo.cantidad}}</b></span>
                                    <button class="btn-plus btn b-rojo cambiar-cantidad" @click="agregarAlCarrito()"><i class="fa-solid fa-plus"></i></button>
                                </div>
                            </template>
                            <template v-else>
                                <button @click="agregarAlCarrito()" class="btn-agregar-carrito">AGREGAR AL CARRITO</button>
                            </template>
                        </div>
                        {{estaEnCarrito}}
        
                    </div>
        
                </div>
            </div>
        </main>
        <footer>
            <p>Proyecto final MindHub</p>
            <p>Cohort 41</p>
            <p>Oscar Schwerdt - Joel Trinidad - Cameron Velasquez - Alejo Lozano - Emilia Sosa</p>
        </footer>
    </div>
</body>
</html>