.artistas-blanca,.artistas-color{
    height: 100%;
    /* width: 50%; */
    object-fit: contain;
    object-position: bottom;
    opacity: 0;
    transform: rotateY(180deg);
    position: absolute;
    bottom: 0rem;
    left: -20rem;
}
.artistas-blanca{
    transform: rotateY(180deg);
    filter: grayscale();
    /* filter: hue-rotate(20deg); */
    mix-blend-mode: exclusion;
    z-index: -2;
    animation: imagen-deslizar-artistas 1s forwards;
}
.artistas-color{
    z-index: -1;
    -webkit-mask-image: url(../images/hero-mask-inverse.png);
    mask-image: url(../images/hero-mask-inverse.png);
    -webkit-mask-size: cover;
    mask-size: cover;
    animation: animacion-pintar 1s steps(32) forwards 1s, imagen-deslizar-artistas 1s forwards;
}
@keyframes imagen-deslizar-artistas {
    80%{
        left: -5rem;
    }
    100%{
        left: -5rem;
        opacity: .8;
    }
}
.main_artistas{
    min-height: 75;
    width: 60%;
    margin: 0 auto;
    margin: 0 2rem 0 auto;
}
.titulo-seccion{
    border-bottom: 3px solid white;
    text-align: end !important;
}
.ilustrador_artistas {
    width: 8rem;
    height: 12rem;
    border: 2px solid black;
    border-width: 3px 3px 5px 5px;
    border-radius: 1% 95% 1% 95%/95% 4% 92% 5%;
    background-color: white;
}
.ilustrador_artistas img {
    width: 8rem;
    height: 11rem;
    bottom: 0;
}
.card{
    margin: 5% 0%;
    border: 2px solid black;
    border-width: 3px 3px 5px 5px;
    border-radius: 1% 95% 2% 95%/95% 2% 92% 3%;
    background-color: white;
    padding: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card:hover{
    transform: scale(1.05);
    transition: all .3s;
}

.card-body{
    margin: 0;
    padding: .5rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-body button{
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 1rem;
    border: 2px solid black;
    border-width: 3px 3px 5px 5px;
    border-radius: 1% 95% 2% 95%/95% 2% 92% 3%;
}
.card-title{
    font-family: 'Bangers',cursive;
    font-size: 1.2rem;
    letter-spacing: .08em;
    text-align: center;
    width: 100%;
}
.cards-container_artistas{
    width: 45%;
}
.overlay{
    background-color: #878787;
    position: relative;
}
.card-deck{
    height: 65vh;
    overflow-y: scroll;
    background: linear-gradient(#fffa, #fff3);
    margin-bottom: 2rem;
}


/*FILTRO*/
.filtro-contenedor{
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    /* width: 28vw; */
    height: 2rem;
}
/* .contenedor-datos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
.ilustradorNombre-input{
    background-color: aquamarine;
    height: 2rem;
    width: 20vw;
    min-width: 18rem;
    padding-left: 1rem;
}

.lupa-imagen{
    position: absolute;
    height: 1rem;
    cursor: pointer;
    margin-top: -1.2rem;
    margin-right: .4rem;
}


/* .card-img-top{
    height: 13rem;
    width: 13rem;
*/
.card-img-top {
    height: 10rem;
    width: 8rem;

    object-fit: cover;
} 
@media (min-width: 992px){
    #contenedor_artistas{
        width: 100%;
        margin-right: 0;
    }
    .cards-container_artistas{
        width: 30%;
    }
    .ilustracion_artistas{
        width: 8rem;
        height: 8rem;
        left: -10rem;
    }
    .card-img-top {
        height: 12rem;
        width: 9rem;
        object-fit: cover;
    }
}
@media (max-width: 992px){
    .main_artistas{
        width: 96%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
