.carrito-blanca,.carrito-color{
    height: 100%;
    /* width: 50%; */
    object-fit: contain;
    object-position: bottom;
    opacity: 0;
    transform: rotateY(180deg);
    position: absolute;
    bottom: 0rem;
    left: -20rem;
}
.carrito-blanca{
    transform: rotateY(180deg);
    filter: grayscale()  opacity(.7);
    /* filter: hue-rotate(20deg); */
    mix-blend-mode: hard-light;
    z-index: -2;
    animation: imagen-deslizar-carrito 1s forwards;
}
.carrito-color{
    z-index: -1;
    -webkit-mask-image: url(../images/hero-mask-inverse.png);
    mask-image: url(../images/hero-mask-inverse.png);
    -webkit-mask-size: cover;
    mask-size: cover;
    animation: animacion-pintar 1s steps(32) forwards 1s, imagen-deslizar-carrito 1s forwards;
}
@keyframes imagen-deslizar-carrito {
    80%{
        left: -5rem;
    }
    100%{
        left: -5rem;
        opacity: .8;
    }
}
.titulo-seccion{
    border-bottom: 4px solid white;
    width: 60%;
    margin-bottom: 2rem;
}
.contenedor-carrito{
    width: 100%;
    padding: 0rem 3rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}
.contenedor-compra{
    width: 60%;
    height: 62vh;
    background: linear-gradient(#fffa, #fff3);
    border-radius: .2rem;
    padding: 1rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
}
.boton-checkout{
    font-family: 'Bangers',cursive;
    letter-spacing: .15rem;
    margin-top: 1rem;
    align-self: flex-end;
    font-size: 1.5rem;
    font-weight: bolder;
    color: black;
    background-color: var(--green);
    border: 2px solid white;
    border-radius: .5rem;
    padding: .5rem 4rem;
    transition: all .3s;
    border: 2px solid rgb(0, 0, 0);
    border-width: 3px 2px 1px 2px;
    border-radius:1% 95% 1% 95%/95% 14% 92% 5%;
}
.boton-checkout:hover{
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(176, 68, 167);
    color: rgb(255, 255, 255);
}
.total-compra{
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    /* background: #fff8; */
    padding: 0 1rem;
}
.total-compra p{
    font-size: 2rem;
    font-weight: bolder;
    margin: 0;
    color: white;
    font-family: 'Bangers',cursive;
    letter-spacing: .1em;
}
.contenedor-productos{
    width: 100%;
    height: calc(100% - 3rem);
    /* background-color: white;
    border-radius: .2rem; */
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 1rem; */
    gap: 1rem;
}
.contenedor-productos::-webkit-scrollbar-thumb{
    background-color: #4e4e4e;
}

.contenedor-productos::-webkit-scrollbar{
    width: 1rem;
}
.producto{
    border: 3px solid black;
    border-width: 3px 3px 5px 5px;
    border-radius:2% 95% 1% 95%/95% 4% 92% 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    width: 100%;
    background-color: white;
    padding: .5rem;
}
.producto-imagen{
    width: 10rem;
    padding: 1rem;
    background-color: #5554;
    position: relative;
}
.producto-imagen_plantilla{
    width: 100%;
    object-fit: contain;
    filter: drop-shadow(5px 5px 5px #0005);
}
.producto-imagen_estampa{
    position: absolute;
    width: 35%;
    object-fit: contain;
    top: 45%;
    left: 50%;
    translate: -50% -50%;
}
.producto-detalles{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    max-width: 300px;
}
.producto-detalles p{
    margin: 0;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 1.3rem;
    font-weight: bolder;
}
.producto-detalles p span{
    font-weight: 500;
}
.producto-detalles_titulo{
    font-size: 1.4rem !important;
    font-family: 'Bangers',cursive !important;
    letter-spacing: .08em !important;
    /* text-decoration: underline; */
    border-bottom: 3px dashed black;
}
.producto-detalles div{
    display: flex;
    flex-direction: column;
}
.producto-cantidad{
    width: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}
.producto-cantidad p, .producto-eliminar p{
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 1.5rem;
    margin: 0;
    opacity: .8;
}
.agregar-quitar-productos{
    border: 2px solid black;
    border-width: 3px 3px 5px 5px;
    border-radius:1% 95% 1% 95%/95% 4% 92% 5%;
    /* border: 2px solid var(--violet); */
    background-color: white;
    display: flex;
}
.cambiar-cantidad,.mostrar-cantidad{
    width: 3rem;
    height: 3rem;
    border: none;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bolder;
    transition: all .3s;
}
.cambiar-cantidad{
    background-color: #0003;
}
.cambiar-cantidad:hover{
    background-color: #0002;
}
.producto-eliminar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}
.producto-eliminar i{
    width: calc(3rem + 6px);
    height: calc(3rem + 6px);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.producto-monto{
    font-size: 2rem;
    font-weight: bolder;
    font-family: 'Bangers',cursive;
}
.producto-wrap{
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}
/*MODAL*/
.contenedor-modalCarrito{
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: modal-deslizar 1s forwards;
}

@keyframes modal-deslizar {
    0%{
        left: -10rem;
        opacity: 0;
    }
    100%{
        left: 0rem;
        opacity: 1;
    }
}

.contenedor-modal{
    background-color: white;
    padding: 2rem;
    padding-bottom: 0;
    min-width:50vw;
    border: 2px solid black;
    border-width: 3px 3px 5px 5px;
    border-radius:1% 95% 1% 95%/95% 2% 98% 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contenedor-modal p{
    margin: 0;
    padding: 0;
    letter-spacing: .15rem;
    font-family: 'Bangers',cursive;
}
.titulo-modal{
    font-size: 1.8rem;
    text-align: center;
    color: rgb(218, 20, 63);
}

input{
    border: 2px solid rgb(0, 0, 0);
    border-width: 3px 3px 5px 5px;
    border-radius:1% 95% 1% 95%/95% 4% 92% 5%;
    padding-left: .3rem;
    height: 1.8rem;
    margin-bottom: 1rem;
    font-family: 'Bangers',cursive;
    letter-spacing: .15rem;
    width: 100%;
}

.tarjeta-datos{
    width: 90%;
}

.boton-cerrar{
    font-size: 1.5rem;
    margin: 0;
    text-align: end;
    margin-top: -1.4rem;
    margin-right: -1rem;
}

.boton-cerrar:hover{
    color: rgb(148, 147, 147);
}

.equis-boton{
    display: inline;
    cursor: pointer;
}
.ocultar-modal{
    display: none;
}

.contenedor-texto-extra-modal p{
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: .2rem;
}
.texto-extra-color{
    color: rgb(18, 136, 67);
    cursor: pointer;
}

.texto-extra-color:hover{
    color: rgb(82, 82, 82);
    cursor: pointer;
}
.texto-extra-contraseña{
    margin-bottom: 0;
    padding: 0;
    margin-top: .8rem !important;
    font-size: .8rem !important; 
    cursor: pointer;
}

.texto-extra-contraseña:hover{
    color: rgb(82, 82, 82);
}
.boton-contenedor{
    border: 2px solid rgb(0, 0, 0);
    border-width: 3px 2px 1px 2px;
    border-radius:1% 95% 1% 95%/95% 14% 92% 5%;
    background-color: aqua;
    padding: .5rem;
    text-align: center;
    cursor: pointer;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    margin-top: 1rem;
}
.boton-contenedor:hover{
    border-width: 3px 12px 6px 7px;
    border-radius:1% 95% 1% 95%/95% 14% 92% 5%;
    background-color: rgb(85, 58, 128);
    color: white;
}
.contenedor-datos-personales{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.contenedor-datos{
    width: 60%;
    margin-right: 1rem;
}
.icono-editar{
    margin-left: .5rem;
    margin-top: .4rem;
    height: 1.2rem;
    cursor: pointer;
}

.titulo-editardatos-contenedor{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 1rem;
}
.input-extra{
    width: 100%;
}
.error-texto{
    color: red;
    font-size: 1.4rem;
    text-align: center;
    height: 1rem;
    font-family: 'Mouse Memoirs', sans-serif;
    font-weight: bolder;
}

.contenedor-modal-tarjeta-datosPersonales{
    display: flex;
}

.datos-tarjeta-contenedor{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cartelPago {
    width: 28rem;
    height: 8rem;
    background-color: white;
    left: 50%;
    color: rgb(18, 136, 67);
    top: 50%;
    translate: -50% -50%;
    border: 3px solid black;
    border-width: 3px 3px 5px 5px;
    border-radius: 2% 95% 1% 95%/95% 4% 92% 5%;
    z-index: 1;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 2rem;
}
/* .modal-checkout{} */
@media (max-width:1300px) {
    main{
        background-color: #0005;
    }
    .contenedor-carrito{
        align-items: center;
    }
    .contenedor-compra{
        width: 80%;
        min-width: 50rem;
    }
    .boton-checkout{
        align-self: center;
    }
    .carrito-blanca,.carrito-color{
        object-fit: cover;
        height: 120%;
        /* width: 110%; */
        /* width: auto; */
        object-position: bottom;
        /* translate: -50% 0; */
    }
    .titulo-seccion{
        text-align: center;
    }
}
@media (max-width:800px) {
    .contenedor-compra{
        min-width: auto;
        width: 100%;
    }
    .producto{
        flex-direction: column;
        padding: 1.5rem;
    }
    .producto-wrap{
        width: 100%;
        gap: 1rem;
    }

    .producto-imagen{
        width: 9rem;
    }
    .carrito-blanca,.carrito-color{
        width: 120%;
    }
}
@media (max-width:550px) {
    .contenedor-carrito{
        padding: 0;
    }
    .producto-wrap + .producto-wrap{
        flex-wrap: wrap;
        justify-content: center;
    }

    .contenedor-modal-tarjeta-datosPersonales{
        flex-direction: column;
    }
    .contenedor-modal{
        width: 90%;
        border-radius:1% 95% 1% 95%/95% 2% 98% 2%;
    }
    .contenedor-datos{
        width: 100%;
    }

    .datos-tarjeta-contenedor{
        width: 100%;
    }
}
/* @media (max-width:750px) {
    .contenedor-carrito{
        width: 100%;
        padding: 1rem;
        padding-bottom: 2rem;
    }
}
@media (max-width:570px) {
    .contenedor-compra{
        height: calc(100% - 4rem);
    }
}
@media (max-width:420px) {
    .contenedor-compra{
        height: calc(100% - 3.5rem);
    }
} */