:root{
    --grey: #6c6c6c;
    --dark-grey: #4d4d4d;
    --font-white: #cecece;
    --green: #55c6b4;
}
@font-face {
    font-family: 'bahnschrift'; 
    src: url('../fonts/bahnschrift.ttf');
}
.main__editor-producto{
    font-family: 'bahnschrift';
}
#tablet__editor-producto{
    min-height: 53rem;
}
#main__editor-producto{
    display: flex;
    flex-direction: column;
    align-items: initial;
    min-height: 10rem;
}
.contenedor__editor-producto{
    width: 90%;
    margin: 0 auto;
}
.nav-productos{
    height: 3rem;
    background-color: var(--grey);
    margin-top: 1rem;
    border: 2px solid var(--dark-grey);
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
}
.talle__editor-producto{
    display: flex;
    flex-direction: column;
    width: 4rem;
    height: 20rem;
    background-color: var(--grey);
    color: var(--font-white);
    font-weight: bold;
    align-items: center;
    font-size: 11px;
    border: 2px solid var(--dark-grey);
}
.talle__editor-producto ul{
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}
.talle__editor-producto span{
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid var(--dark-grey);
    border-radius: 50%;
}
.iconos-productos{
    background-position: center;
    background-size: cover;
    width: 2.5rem;
    height: 2rem;
    cursor: pointer;
}
.llavero{
    background-image: url('../images/llavero.png');
    width: 2.2rem;
}
.cuaderno{
    background-image: url('../images/cuaderno.png');
}
.remera{
    background-image: url('../images/remera.png');
    width: 2.4rem;
}
.retrato{
    background-image: url('../images/retrato.png');
    width: 2rem;
}
.taza{
    background-image: url('../images/taza.png');
}
.rojo{
    cursor: pointer;
    background-color: #d73636;
}
.azul{
    cursor: pointer;
    background-color: #364ed7;
}
.verde{
    cursor: pointer;
    background-color: #36d75e;
}
.blanco{
    cursor: pointer;
    background-color: #e7e7e7;
}
.rosa{
    cursor: pointer;
    background-color: #f86390;
}
.amarillo{
    cursor: pointer;
    background-color: #bdd343;
}
.colores-editor{
    height: 16rem;
}
.vista-previa__editor-producto {
    background-image: url(../images/productos/remera_blanca.png);
    background-position: center;
    background-size: calc(90%);
    background-repeat: no-repeat;
    width: 16.6rem;
}
.vista-previa__editor-producto-llavero {
    background-image: url(../images/productos/llavero-plastico-cuadrado.png);
    background-position: center;
    background-size: calc(90%);
    background-repeat: no-repeat;
    width: 16.6rem;
}
.vista-previa__editor-producto-cuaderno {
    background-image: url(../images/productos/llavero-plastico-rectangular.png);
    background-position: center;
    background-size: calc(90%);
    background-repeat: no-repeat;
    width: 16.6rem;
}
.vista-previa__editor-producto-retrato {
    background-image: url(../images/productos/Poster-Mockup.png);
    background-position: center;
    background-size: calc(90%);
    background-repeat: no-repeat;
    width: 16.6rem;
}
.vista-previa__editor-producto-taza {
    background-image: url(../images/productos/taza.png);
    background-position: center;
    background-size: calc(90%);
    background-repeat: no-repeat;
    width: 16.6rem;
}
.contenedor-carrusel_editor{
    width: 16.6rem;
    gap: .5rem;
}
.carrusel__editor-producto{
    height: 9rem;
    border: 2px solid var(--dark-grey);
}
.carrusel-info__editor-producto{
    color: var(--font-white);
    padding: 1rem;
    height: 10.5rem;
    border: 2px solid var(--dark-grey);
}
.carrusel-info__editor-producto ul{
    font-size: 12px;
    list-style: none;
    padding-left: 0;
}
#carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
#carousel img {
    height: 8rem;
    width: 7rem;
    object-fit: cover;
}
.next-button, .prev-button{
    width: 2rem;
    cursor: pointer;
}
.contenedor-iconos{
    gap: 9rem;
    top: 3.5rem;
    width: 100%;
}
.titulo-info{
    color: var(--green);
}
.btn-agregar-carrito{
    border: 2px solid white;
    border-radius: 5px;
    padding: .3rem .5rem;
    background-color: var(--green);
    font-weight: bold;
    color: var(--dark-grey);
    font-size: 12px;
}

@media (min-width: 768px){
    .contenedor-editor-md{
        width: 80%;
    }
    .nav-productos{
        margin-top: 2rem;
    }
    .vista-previa__editor-md {
        background-image: url(../images/productos/remera_blanca.png);
        background-position: center;
        background-size: cover;
        width: 51%;
        height: 21rem;
    }
    .talle__editor-producto{
        width: 100%;
        height: 3rem;
    }
    .talle__editor-producto ul{
        flex-direction: row;
        align-items: center;
        width: 100%;

    }
    .carrusel-info__editor-producto {
        height: 13rem;
    }
}

@media (min-width: 1024px){
    .talle__editor-producto {
        width: 3rem;
        height: 100%;
    }
    .talle__editor-producto ul {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .talle__editor-producto ul li{
        cursor: pointer;
    }
    .contenedor-color-talle{
        display: flex;
    }
    .contenedor-editor-md {
        width: 90%;
    }
    .vista-previa__editor-md {
        width: 40%;
        height: 31rem;
    }
    .carrusel__editor-producto{
        height: 18rem;
        border: 2px solid var(--dark-grey);
    }
    .contenedor-carrusel_editor{
        width: 30rem;
        gap: .5rem;
    }
    #carousel img {
        height: 16rem;
        width: 14rem;
    }
    .contenedor-iconos {
        top: 8.5rem;
    }
    .btn-agregar-carrito {
        font-size: 18px;
    }
}

@media (min-width: 1440px){
    .vista-previa__editor-md {
        height: 37rem;
    }
}