
main{
    display: flex;
    width: 100%;
    z-index: 1;
    /* height: 500px; */
    /* overflow: hidden; */

}
.index-llamada-a-la-accion{
    width: 45%;
    height: 80vh;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: relative; */
    overflow: hidden;
    z-index: 2;
    /* background-color: red; */
}
.hero-img-blanca,.hero-img-color{
    height: 100%;
    /* width: 50%; */
    object-fit: contain;
    object-position: bottom;
    opacity: 0;
    transform: rotateY(180deg);
    position: absolute;
    bottom: 0rem;
    left: -20rem;
}
.hero-img-blanca{
    transform: rotateY(180deg);
    filter: grayscale()  opacity(.7);
    /* filter: hue-rotate(20deg); */
    mix-blend-mode: hard-light;
    z-index: -2;
    animation: imagen-deslizar 1s forwards;
}
.hero-img-color{
    z-index: -1;
    -webkit-mask-image: url(../images/hero-mask-inverse.png);
    mask-image: url(../images/hero-mask-inverse.png);
    -webkit-mask-size: cover;
    mask-size: cover;
    animation: animacion-pintar 1s steps(32) forwards 1s, imagen-deslizar 1s forwards;
}
@keyframes animacion-pintar {
    0%{
        -webkit-mask-position: 0% 0%;
        mask-position: 0% 0%;
    }
    100%{
        -webkit-mask-position: 99% 0%;
        mask-position: 99% 0%;
    }
}
@keyframes imagen-deslizar {
    80%{
        left: 0rem;
    }
    100%{
        left: 0rem;
        opacity: .8;
    }
}
.boton-llamada-a-la-accion{
    font-family: 'Bangers',cursive;
    letter-spacing: .15rem;
    background-color: var(--green);
    color: rgb(17, 14, 16);
    text-decoration: none;
    font-size: 2rem;
    padding: .5em 5em;
    border: 3px solid white;
    border-radius: .5rem;
    cursor: pointer;
    transition: all .3s;
    position: absolute;
    bottom: 10.5rem;
    left: 27rem;
    translate: -50% 0;
    font-weight: bolder;
    border: 2px solid rgb(0, 0, 0);
    border-width: 8px 12px 9px 7px;
    border-radius:1% 95% 1% 95%/95% 14% 92% 5%;
}
.boton-llamada-a-la-accion:hover{
    border-color:  rgb(255, 255, 255);
    background-color: rgb(176, 68, 167);
    color: rgb(255, 255, 255);
}
.index-informacion{
    width: 55%;
    height: 100%;
    padding: 1rem 3rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 2;
    gap: 1rem;
}
.titulo-seccion{
    color: var(--violet);
    font-weight: bolder;
    font-size: 7rem;
    /* padding: 0 3rem; */
    text-align: right;
    font-family: 'Bangers',cursive;
    text-shadow: 4px 0 #fff, -4px 0 #fff, 0 4px #fff, 0 -4px #fff,
               2px 2px #fff, -2px -2px #fff, 2px -2px #fff, -2px 2px #fff;
}
.contenedor-dialogo{
    width: 95%;
    display: flex;
    flex-direction: column;
}
.caja-dialogo{
    width: 100%;
    background-color: white;
    font-size: 1.8rem;
    padding: 1rem .5rem;
    border-radius: .5rem;
    /* border: 3px solid black; */
    position: relative;
    font-weight: bolder;
    font-family: 'Mouse Memoirs', sans-serif;
}


.dialogo-derecha::before{
    content: "";
    width: 2rem;
    height: 3rem;
    position: absolute;
    bottom: -3rem;
    right: 4rem;
    background-color: white;
    -webkit-clip-path: polygon(100% 0, 80% 37%, 59% 67%, 0 100%, 17% 67%, 15% 37%, 0 0); 
    clip-path: polygon(100% 0, 80% 37%, 59% 67%, 0 100%, 17% 67%, 15% 37%, 0 0);
}
.dialogo-izquierda::before{
    content: "";
    width: 2rem;
    height: 3rem;
    position: absolute;
    bottom: -3rem;
    left: 4rem;
    background-color: white;
    -webkit-clip-path: polygon(100% 0, 80% 37%, 80% 63%, 84% 100%, 39% 63%, 15% 37%, 0 0); 
    clip-path: polygon(100% 0, 80% 37%, 80% 63%, 84% 100%, 39% 63%, 15% 37%, 0 0)
}

.subtitulo-seccion{
    color: white;
    font-weight: bolder;
    font-size: 2rem;
    letter-spacing: .15rem;
    /* width: 90%; */
    z-index: 3;
    font-family: 'Bangers', cursive;
    margin-top: .5rem;
}
.subtitulo-seccion span{
    color: var(--green);
    
}
/* .contenedor-dialogo+.contenedor-dialogo span{
    color: var(--violet);
} */
.subtitulo-derecha{
    text-align: right;
    margin-right: 7rem;
    align-self: flex-end;
}
.subtitulo-izquierda{
    text-align: left;
    margin-left: 7rem;
    align-self: flex-start;
}

/*MODAL*/

.contenedor-inicioSesionRegistro{
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: modal-deslizar 1s forwards;
}

@keyframes modal-deslizar {
    0%{
        left: -10rem;
        opacity: 0;
    }
    100%{
        left: 0rem;
        opacity: 1;
    }
}

.contenedor-inicioSesion, .contenedor-Registro{
    background-color: white;
    padding: 2rem;
    min-width: 25vw;
    border: 2px solid black;
    border-width: 3px 3px 5px 5px;
    border-radius:1% 95% 1% 95%/95% 2% 98% 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
label{
    display: block;
    font-family: 'Bangers',cursive;
}
.contenedor-inicioSesion p, .contenedor-Registro p{
    margin: 0;
    padding: 0;
    letter-spacing: .15rem;
    font-family: 'Bangers',cursive;

}
.titulo-registroInicio{
    font-size: 1.8rem;
    text-align: center;
    color: rgb(218, 20, 63);
}

input{
    border: 2px solid rgb(0, 0, 0);
    border-width: 3px 3px 5px 5px;
    border-radius:1% 95% 1% 95%/95% 4% 92% 5%;
    padding-left: .3rem;
    height: 1.8rem;
    margin-bottom: 1rem;
    font-family: 'Bangers',cursive;
    letter-spacing: .15rem;
    width: 100%;
}

.boton-cerrar{
    font-size: 1.5rem;
    margin: 0;
    text-align: end;
    margin-top: -1.4rem;
    margin-right: -1rem;
}

.boton-cerrar:hover{
    color: rgb(148, 147, 147);
}

.equis-boton{
    display: inline;
    cursor: pointer;
}
.ocultar-modal{
    display: none;
}

.contenedor-texto-extra-inicioSesion p{
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: .2rem;
}
.texto-extra-color{
    color: rgb(18, 136, 67);
    cursor: pointer;
}

.texto-extra-color:hover{
    color: rgb(82, 82, 82);
    cursor: pointer;
}
.texto-extra-contraseña{
    margin-bottom: 0;
    padding: 0;
    margin-top: .8rem !important;
    font-size: .8rem !important; 
    cursor: pointer;
}

.texto-extra-contraseña:hover{
    color: rgb(82, 82, 82);
}
.boton-contenedor{
    border: 2px solid rgb(0, 0, 0);
    border-width: 3px 2px 1px 2px;
    border-radius:1% 95% 1% 95%/95% 14% 92% 5%;
    background-color: aqua;
    padding: .5rem;
    text-align: center;
    cursor: pointer;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    margin-top: 1rem;
}
.boton-contenedor:hover{
    border-width: 3px 12px 6px 7px;
    border-radius:1% 95% 1% 95%/95% 14% 92% 5%;
    background-color: rgb(85, 58, 128);
    color: white;
}
.contenedor-registro-formulario{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.error-texto{
    color: red;
    font-size: 1.4rem;
    text-align: center;
    height: 1rem;
    animation: erorr .5s;
}


@keyframes error {
    0%{opacity: 0;
        transform: scale(-1);}
    50%{transform: scale(1.1);}
    100%{opacity: 1;
    transform: scale(1);}
} 

.texto-mensaje{
    color: rgb(32, 124, 124);
    font-family: 'Bangers',cursive;
    letter-spacing: .15rem;
    font-size: 1.4rem;
}

@media (max-width:1200px) {
    main{
        flex-direction: column-reverse;
    }
    .index-llamada-a-la-accion{
        width: auto;
        height: 8rem;
        justify-content: center;
    }
    .hero-img-blanca,.hero-img-color{
        width: 100%;
        height: 110%;
        object-position: top;
        bottom: auto;
        top: 0;
    }
    .index-informacion{
        width: 100%;
        align-items: center;
        min-height: 77vh;
    }
    .titulo-seccion{
        text-align: center;
    }

    .boton-llamada-a-la-accion{
        position: static;
        translate: 0 0;
    }
    .subtitulo-seccion{
        background-color: #0008;
        padding: .2em;
        width: fit-content;
    }
    .index-informacion{
        justify-content: space-around;
    }
}
@media (max-width:900px) {
    .hero-img-blanca,.hero-img-color{
        object-fit: cover;
        height: 150%;
        /* width: auto; */
        object-position: bottom;
    }
    main{
        background-color: #0005;
    }
    
}
@media (max-width:600px) {
    .titulo-seccion{
        font-size: 5rem;
    }
    .dialogo-derecha::before{
        right: 1rem;
    }
    .dialogo-izquierda::before{
        left: 1rem;
    }
    .subtitulo-derecha{
        margin-right: 4rem;
    }
    .subtitulo-izquierda{
        margin-left: 4rem;
    }
    .subtitulo-seccion{
        font-size: 1.7rem;
        background-color: #000a;
    }
    .contenedor-dialogo{
        width: 100%;
    }

}
@media (max-width:600px) {
    .boton-llamada-a-la-accion{
        padding: .5em;
        width: 80%;
        text-align: center;
    }
}


