@import url(https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap);
@import url(https://fonts.googleapis.com/css?family=Bangers);
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --violet:#a787caff;
    --green:#5ad096ff;
    --pink: #b73980ff;
}
body{
    background-image:  linear-gradient(#efb8fd22,#efb8fd22),url(../images/background.jpg);
    line-height: normal !important;
    font-family: Arial, Helvetica, sans-serif !important;

}
.navbar{
    min-height: 10vh;
    background-color: #0005;
}
.navegacion{
    padding: 0 2rem;
    max-width: none;
}
.navbar-brand{
    font-size: 2rem;
    font-weight: bolder;
}
.nav-link{
    font-size: 1.3rem;
}
footer{
    min-height: 15vh;
    background: linear-gradient(#0005,#000 70%);
    color: white;
    border-bottom: 10px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: .5rem;
    gap: 1rem;
}
footer p{
    font-weight: bolder;
    font-size: 1.3rem;
    margin: 0;
}
/* @media (max-width:1000px){
    .tablet-footer p{
        font-size: 1rem;
        text-align: center;
    }
}

@media (max-width:750px){
    .tablet-button{
        display: none;
    }
    .mobile-nav{
        display: flex;
    }
    .menu-block{
        display: none;
    }
    .mobile-tablet-button{
        margin-right: 1rem;
    }
}

@media (max-width:660px) {
    body{
        padding: .5rem 0;
    }
    .tablet{
        padding-top: 2rem;
    }
    .tablet-brand{
        top: 0;
    }
    .tablet-button{
        display: none;
    }
    .main-content{
        inset: 6rem 1rem 3rem 1rem;
    }
    .mobile-nav{
        display: flex;
    }
    .menu-block{
        display: none;
    }
    .mobile-tablet-button{
        margin: 0px;
    }
} */

[v-cloak] {
    display: none;
  }